<table class="coreapi-document table table-striped table-condensed">
    <thead>
        <tr><th colspan=2><a href="{{ url }}">{{ node.title }}</a></th></tr>
    </thead>
    <tbody>
        {% for key, value in node.data.items() %}
        <tr id="{{ path }}{{ key }}"><th>{{ key }}</th><td>{{ render(value, url) }}</td></tr>
        {% endfor %}
        {% for key, value in node.links.items() %}
        <tr id="{{ path }}{{ key }}"><th colspan=2>{{ render(value, url, key, path ) }}</th></tr>
        {% endfor %}
    </tbody>
</table>
