<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>{{ document.title }}</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/css/bootstrap.min.css">
    <style>
        table {
          margin-bottom: 0 !important;
          border: 1px solid #ddd;
        }
        div.container > table {
          margin-bottom: 20px !important;
        }
        div.container {
          padding-top: 20px;
        }
        ul.errors {
            margin-top: 20px;
        }
        div.modal-body {
            margin-bottom: 0;
        }
        table.coreapi-array > tbody > tr > th {
            width: 50px;
        }
        table > tbody > tr > th {
            width: 200px;
        }
        {{ extra_css }}
    </style>
  </head>
  <body>
    <div class="container">
      {{ render(document) }}
    </div>

    <!-- The transition modal -->
    <div class="modal fade" id="transitionModal" tabindex="-1" role="dialog" aria-hidden="true">
      <div class="modal-dialog">
        <div class="modal-content">
          <form>
          <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
            <h4 class="modal-title" id="myModalLabel">[Transition title]</h4>
          </div>
          <div class="modal-body form-group">
            <textarea rows=8 class="form-control field-input"></textarea>
            <ul class="errors"></ul>
          </div>
          <div class="modal-footer">
            <button id="transitionButton" type="button" class="btn btn-primary">[Save text]</button>
          </div>
          </form>
        </div>
      </div>
    </div>

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.2/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/js/bootstrap.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jqueryui/1.11.3/jquery-ui.min.js"></script>
    <script>
        $('#transitionModal .field-input').bind('input propertychange', function() {
            // Disable the transition modal button, on invalid JSON content.
            try {
                JSON.parse(this.value)
            } catch (e) {
                $('#transitionModal').find('.btn-primary').prop('disabled', true)
                return
            }
            $('#transitionModal').find('.btn-primary').prop('disabled', false)
        })

        $('#transitionModal').on('hidden.bs.modal', function () {
            // Closing the transition modal clears any errors.
            $('ul.errors').children().remove()
        })

        function setModalText(modal, link, document) {
            var title = document.find('thead a').first().text()
            var action = (
                link.text().charAt(0).toUpperCase() +
                link.text().slice(1).replace('_', ' ')
            )
            modal.find('.modal-title').text(title + ' - ' + action)
            modal.find('.btn-primary').text(action)
        }

        function setModalFieldsInput(modal, fields) {
            if (fields.length > 0) {
                var content = {}
                for (idx in fields) {
                    content[fields[idx]] = null
                }
                modal.find('.field-input').val(JSON.stringify(content, null, 4))
                modal.find('.modal-body').show()
            } else {
                modal.find('.modal-body').hide()
            }
        }

        function splitFields(fieldsData) {
            fieldsData = $.trim(fieldsData)
            if (fieldsData) {
                return fieldsData.split(' ')
            } else {
                return []
            }
        }

        $('#transitionModal').on('show.bs.modal', function (event) {
            var modal = $(this)
            var link = $(event.relatedTarget)
            var document = link.closest('.coreapi-document')
            var href = link.attr('href')
            var method = link.data('action').toUpperCase()
            var transform = link.data('transform')
            var fields = splitFields(link.data('fields'))
            var hasParameters = fields.length > 0

            if (transform === '' || typeof transform == 'undefined') {
                if (method === 'PUT' || method === 'PATCH' || method == 'DELETE') {
                    transform = 'inplace'
                } else {
                    transform = 'new'
                }
            }

            // Update the modal content.
            setModalFieldsInput(modal, fields)
            setModalText(modal, link, document)

            // Update the submit event to handle the transition.
            $('#transitionButton').unbind('click')
            $('#transitionButton').click(function(){
                var options = {
                    'url': href,
                    'type': method,
                    'dataType': 'html',
                }

                if (hasParameters && method === 'GET') {
                    // GET parameters are represented as querystring parameters.
                    options['data'] = JSON.parse(modal.find('.field-input').val())
                } else if (hasParameters) {
                    // Everything else is JSON encoded.
                    options['data'] = modal.find('.field-input').val()
                    options['contentType'] = 'application/json'
                }

                options['success'] = function(data) {
                    if (!transform === 'inplace') {
                        // Not in-place. Replace the topmost document.
                        var newDocument = $(data).find('.coreapi-document').first()
                        var top = $('body').find('.coreapi-document').first()
                        top.replaceWith(newDocument)
                        newDocument.find('td, th').effect("highlight", 1000)
                    } else if (transform === 'inplace' && data) {
                        // In-place and new content. Replace the active document.
                        var newDocument = $(data).find('.coreapi-document').first()
                        document.replaceWith(newDocument)
                        newDocument.find('td, th').effect("highlight", 1000)
                    } else {
                        // In-place and no content. Remove the active document
                        var row = document.closest('tr')
                        var container = row.closest('table')
                        if (container.length) {
                            // If this was contained by a parent then remove its row.
                            row.fadeOut(1000, function() {
                                row.remove();
                                if (container.hasClass('coreapi-array')) {
                                    container.find('> tbody > tr > th').each(function(counter){
                                        $(this).text(counter)
                                    })
                                }
                            });
                        } else {
                            // If this was the topmost element, then remove it entirely.
                            var top = $('body').find('.coreapi-document').first()
                            top.fadeOut(1000, function() {
                                top.remove();
                            });
                        }
                    }
                    modal.modal('hide')
                    // Update the URL
                    var link = $('body').find('.coreapi-document thead a').first();
                    var title = link.text();
                    var href = link.attr('href');
                    history.replaceState(null, title, href);
                }

                options['error'] = function(request, status, error) {
                    // Handle Core API error responses.
                    var data = request.responseText
                    var errors = $(data).find('.coreapi-error').first()
                    errors.removeClass('coreapi-error')
                    errors.addClass('errors')
                    if (errors.length) {
                        $('body').find('.errors').replaceWith(errors)
                        return
                    }

                    // Handle any other miscellanous error cases.
                    alert('Request error ' + status + ' - ' + data)
                }

                // Unparameterized GET requests simply change the URL.
                // Everything else makes an AJAX request.
                if (method === 'GET' && !hasParameters) {
                    window.location = href
                } else {
                    $.ajax(options)
                }
            })
        })
    </script>
  </body>
</html>
