<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
    <title>Core API</title>

    <!-- Bootstrap -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/css/bootstrap.min.css">

    <!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/html5shiv/3.7.2/html5shiv.min.js"></script>
      <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
    <![endif]-->
    <style>
    table {
      margin-bottom: 0 !important;
      border: 1px solid #ddd;
    }
    div.container {
      padding-top: 20px;
    }
    </style>
  </head>
  <body>
    <div class="container">
    {{ render(document) }}
    </div>

<!-- Modal -->
<div class="modal fade" id="modal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <form>
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title" id="myModalLabel">Transition</h4>
      </div>
      <div class="modal-body form-group">
        <textarea rows=8 class="form-control field-input"></textarea>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-primary">Save changes</button>
      </div>
      </form>
    </div>
  </div>
</div>

    <!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.2/jquery.min.js"></script>
    <!-- Include all compiled plugins (below), or include individual files as needed -->
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/js/bootstrap.min.js"></script>
    <script>
String.prototype.prettify = function() {
    return this.charAt(0).toUpperCase() + this.slice(1).replace('_', ' ');
}

function IsJsonString(str) {
    try {
        JSON.parse(str);
    } catch (e) {
        return false;
    }
    return true;
}

$('#modal .field-input').bind('input propertychange', function() {
    if (IsJsonString(this.value)) {
        $('#modal').find('.btn-primary').prop('disabled', false);
    } else {
        $('#modal').find('.btn-primary').prop('disabled', true);
    }
})

$('#modal').on('show.bs.modal', function (event) {
  // Link that triggered the modal
  var link = $(event.relatedTarget)
  var document = link.closest('.coreapi-document')
  var documentTitle = document.find('thead a').first().text()
  // Extract info from data-* attributes
  var trans = link.data('trans')
  var fields = $.trim(link.data('fields'))
  if (fields) {
    fields = fields.split(' ')
  } else {
    fields = []
  }
  // Update the modal content
  var modal = $(this)
  if (fields.length > 0) {
    var content = {}
    for (idx in fields) {
      content[fields[idx]] = null
    }
    modal.find('.field-input').val(JSON.stringify(content, null, 4))
    modal.find('.modal-body').show()
  } else {
    modal.find('.modal-body').hide()
  }
  modal.find('.modal-title').text(documentTitle + ' - ' + link.text().prettify())
  modal.find('.btn-primary').text(link.text().prettify())
})
    </script
  </body>
</html>