<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
    <title>{{ document.title }}</title>

    <!-- Bootstrap -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/css/bootstrap.min.css">

    <!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/html5shiv/3.7.2/html5shiv.min.js"></script>
      <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
    <![endif]-->
    <style>
    table {
      margin-bottom: 0 !important;
      border: 1px solid #ddd;
    }
    div.container {
      padding-top: 20px;
    }
    </style>
  </head>
  <body>
    <div class="container">
    {{ render(document) }}
    </div>

<!-- Modal -->
<div class="modal fade" id="transitionModal" tabindex="-1" role="dialog" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <form>
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title" id="myModalLabel">[Transition title]</h4>
      </div>
      <div class="modal-body form-group">
        <textarea rows=8 class="form-control field-input"></textarea>
      </div>
      <div class="modal-footer">
        <button id="transitionButton" type="button" class="btn btn-primary">[Save text]</button>
      </div>
      </form>
    </div>
  </div>
</div>

    <!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.2/jquery.min.js"></script>
    <!-- Include all compiled plugins (below), or include individual files as needed -->
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/js/bootstrap.min.js"></script>
    <script>
$('#transitionModal .field-input').bind('input propertychange', function() {
    try {
        JSON.parse(this.value)
    } catch (e) {
        $('#transitionModal').find('.btn-primary').prop('disabled', true)
        return
    }
    $('#transitionModal').find('.btn-primary').prop('disabled', false)
})

$('#transitionModal').on('show.bs.modal', function (event) {
  var link = $(event.relatedTarget)
  var document = link.closest('.coreapi-document')
  var documentTitle = document.find('thead a').first().text()
  var linkName = link.text().charAt(0).toUpperCase() + link.text().slice(1).replace('_', ' ')
  var linkHref = link.attr('href')
  var trans = link.data('trans')
  var fields = $.trim(link.data('fields'))
  if (fields) {
    fields = fields.split(' ')
  } else {
    fields = []
  }
  var httpMethod = {
    'follow': 'GET',
    'action': 'POST',
    'create': 'POST',
    'update': 'PUT',
    'delete': 'DELETE'
  }[trans]
  var hasParameters = fields.length > 0

  // Update the modal content
  var modal = $(this)
  if (hasParameters) {
    var content = {}
    for (idx in fields) {
      content[fields[idx]] = null
    }
    modal.find('.field-input').val(JSON.stringify(content, null, 4))
    modal.find('.modal-body').show()
  } else {
    modal.find('.modal-body').hide()
  }
  modal.find('.modal-title').text(documentTitle + ' - ' + linkName)
  modal.find('.btn-primary').text(linkName)

$('#transitionButton').unbind('click')
$('#transitionButton').click(function(){
    var options = {
        'url': linkHref,
        'type': httpMethod,
        'dataType': 'html',
    }

    if (trans === 'delete') {
        options['success'] = function(data) {
            var row = document.closest('tr')
            var container = row.closest('table')
            row.remove()
            if (container && container.hasClass('coreapi-array')) {
                container.find('> tbody > tr > th').each(function(c){
                    $(this).text(c)
                })
            }
            modal.modal('hide')
        }
    } else if (trans === 'action' || trans === 'update') {
        options['success'] = function(data) {
            var newDocument = $(data).find('.coreapi-document').first()
            document.replaceWith(newDocument)
            modal.modal('hide')
        }
    }

    if (hasParameters && httpMethod === 'GET') {
        options['data'] = JSON.parse(modal.find('.field-input').val())
    } else if (hasParameters) {
        options['data'] = modal.find('.field-input').val()
        options['contentType'] = 'application/json'
    }
    $.ajax(options)
})
})
    </script>
  </body>
</html>